<div class="container py-5">
<div class="row justify-content-center">
<h1 class="mx-3 text-center">Would you like to rent this parking space? 🚀</h1>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">

<div class="card-trip">
<% if @parking.photo.attached? %>
    <%= cl_image_tag @parking.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1604063155785-ee4488b8ad15?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80)" />
    <% end %>
</div>
  <div class="card-body">
    <h5 class="card-title"><h2>Title: <%= @parking.title %></h2></h5>
    <p class="card-text"><p> Description: <%= @parking.description %></p></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p> Street Address: <%= @parking.street_address %></p></li>
    <li class="list-group-item"><p> City: <%= @parking.city %></p></li>
    <li class="list-group-item"><p> Category: <%= @parking.category %></p></li>
  </ul>

  <%= link_to 'Book a parking', new_parking_booking_path(@parking), class: "btn btn-primary text-center" %>
</div>
</div>
</div>
</div>
